a{
  color:gray;
  text-decoration: none;
}
h1{
  font-size: 40px;
  text-align:center;
  margin: 0;
  padding:20px;
}
.list{
  border-right: 1px solid gray;
  width: 130px;
  margin: 0;
  margin-left:20px;
  padding:20px;
  padding-right: 0;
}
body{
  margin: 0;
}
iframe {
  display: block;
  margin: 0 auto;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left: 35px;
  padding-right: 20px;
}
#grid2{
  display: grid;
  padding-left: 71px;
  grid-template-columns: 1fr 70px;
  border-bottom:1px solid gray;
}
#article2{
  margin: 0;
  padding-top: 25px;
}
@media(max-width:550px) {
  #grid{
    display:block;
  }
  .list{
    border-right: none;
  }
}
@media(max-width:650px){
  h1{
    font-size: 30px;
  }
  #grid2{
    grid-template-columns: 1fr 50px;
}
@media(max-width:540px){
  h1{
    font-size: 20px;
  }
  #grid2{
    grid-template-columns: 1fr 40px;
}
}
