a{
  color:gray;
  text-decoration: none;
}
h1{
  font-size: 40px;
  text-align:center;
  border-bottom:1px solid gray;
  margin: 0;
  padding:20px;
}
.list{
  border-right: 1px solid gray;
  width: 130px;
  margin: 0;
  margin-left:20px;
  padding:20px;
  padding-right: 0;
}
body{
  margin: 0;
}
iframe {
  display: block;
  margin: 0 auto;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left: 35px;
}
@media(max-width:550px) {
  #grid{
    display:block;
  }
  .list{
    border-right: none;
  }
  h1{
    border-bottom:none;
    font-size: 30px;
  }
}
